body {
	margin: 0 auto;
	height: 50em;
	background-color: #ffffff;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.debug {
	/* min-width: 5em; */
	min-height: 5.5em;
	background-color: #ff00ff;
}

#dark-theme-button-holder {
	min-width: 100px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 20px 0px;
	padding: 10px 0px;
}

#dark-theme-button {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background-color: #ffffff;
	border: 3px solid;
	border-color: #000000;

	position: relative;

	transition: all 200ms ease-in-out;
}

#dark-theme-button .dark-theme-button-shading {
	width: 27px;
	height: 27px;
	border-radius: 25px;
	background-color: #ffffff;
	border: 3px solid;
	border-color: #000000;
}

#dark-theme-button .dark-theme-button-blocking {
	width: 15px;
	height: 15px;
	position: absolute;

	border-radius: 8px;
	background-color: #ffffff;

	top: 0px;
	left: -1px;
}

#dark-theme-button-holder:active #dark-theme-button {
	transform: scale(0.8);
}

