body {
	margin: 0 auto;
	height: 50em;
	background-color: #ffffff;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.debug {
	/* min-width: 5em; */
	min-height: 5.5em;
	background-color: blueviolet;
}


.michael {

}

#dark-theme-button {
	width: 50px;
	height: 50px;

	border-radius: 25px;

	position: fixed;

	top: 40px;
	right: 70px;

	background-color: rgb(0, 0, 0);

	transition: transform 200ms ease-in-out;
	transform: translate(150px, 0px);
}


#dark-theme-button:hover {
	transform: translate(0px, 0px);
}


#dark-theme-hover {
	width: 200px;
	height: 150px;

	position: fixed;
	top: 0px;
	right: 0px;
}

