.articles-group-horizontal {
	margin-bottom: 50px;
}

.article {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */

	/* background-color: blue; */
}

.article-image {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
	margin-bottom: 30px;
}

.article-text {
	display: flex;
	flex-direction: column;
	gap: 8px;

	margin-top: 8px;
}

.article-title {
	margin-top: 8px;
}